{% load form_extras %}

<div class="row">
    <div class="form-group col-md-4">
        {{ form.cpf.label_tag }}
        {{ form.cpf }}
        {% show_field_errors form.cpf %}
    </div>
    <div class="form-group col-md-8">
        {{ form.nome_razao_social.label_tag }}
        {{ form.nome_razao_social }}
        {% show_field_errors form.nome_razao_social %}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4">
        {{ form.sexo.label_tag }}
        {{ form.sexo }}
        {% show_field_errors form.sexo %}
    </div>
    <div class="form-group col-md-5">
        {{ form.estado_civil.label_tag }}
        {{ form.estado_civil }}
        {% show_field_errors form.estado_civil %}
    </div>
    <div class="form-group col-md-3">
        {{ form.tipo_sanguineo.label_tag }}
        {{ form.tipo_sanguineo }}
        {% show_field_errors form.tipo_sanguineo %}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        {{ form.nacionalidade.label_tag }}
        {{ form.nacionalidade }}
        {% show_field_errors form.nacionalidade %}
    </div>
    <div class="form-group col-md-6">
        {{ form.natural_cidade.label_tag }}
        {{ form.natural_cidade }}
        {% show_field_errors form.natural_cidade %}
    </div>
    <div class="form-group col-md-3">
        {{ form.natural_uf.label_tag }}
        {{ form.natural_uf }}
        {% show_field_errors form.natural_uf %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form.falecido.label_tag }}
        {{ form.falecido }}
        {% show_field_errors form.falecido %}
    </div>
</div>