{% extends default_layout %} {% block content %}
<div class="row">
    <div class="col-12">
        <!-- Custom Tabs -->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Detalhes de {{ object }}</h3>
                <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Geral</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Endereços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Telefones</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_4" data-toggle="tab">Dependentes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_5" data-toggle="tab">Contatos Socias</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_6" data-toggle="tab">Outros Documentos</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            Dropdown <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" tabindex="-1" href="#">Action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Another action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Something else here</a>
                            <div class="divider"></div>
                            <a class="dropdown-item" tabindex="-1" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <dl class="dl-horizontal">
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            <dt>Felis euismod semper eget lacinia</dt>
                            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </dd>
                        </dl>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        Endereços
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">Telefones </div>
                    <div class="tab-pane" id="tab_4">Dependentes </div>
                    <div class="tab-pane" id="tab_5">Contatos Socias </div>
                    <div class="tab-pane" id="tab_6">Outros Documentos </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- ./card -->
    </div>
    <!-- /.col -->
</div>
{% endblock content %}