{% extends default_layout %} {% load i18n admin_urls static admin_list model_utils %} {% block content %}
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <h2>
            {% block site_title %} {% block page_title %} {{ opts.verbose_name_plural|capfirst }} {% endblock page_title %} {% endblock site_title %}
        </h2>
        <table class="table table-condensed">
            <tbody>
                {% for pessoajuridica in pessoajuridica_list %}
                <tr>
                    <td>{{ pessoajuridica.cnpj }}</td>
                    <td>{{ pessoajuridica.razao_social }}</td>
                    <td>
                        <a href="{{ pessoajuridica.get_absolute_url }}">outrso detalhes</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% show_pagination %}
{% endblock %}