{% extends default_layout %} {% block content %} {% comment %} https://docs.djangoproject.com/en/2.1/topics/forms/ {% endcomment %}
<div class="row ml-auto mr-auto">
    <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Cadastrar Pessoa Física</h5>
            </div>
            <div class="card-body">
                <form method="post"> {% csrf_token %} {{ form.non_field_errors }} {% include "commons/form_snippet.html" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}